USE [master]
GO
/****** Object:  Database [OpenVid]    Script Date: 12/11/2020 20:26:18 ******/
CREATE DATABASE [OpenVid]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OpenVid', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\OpenVid.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OpenVid_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\OpenVid_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OpenVid].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OpenVid]
GO
USE [OpenVid]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 12/11/2020 20:26:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 12/11/2020 20:26:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MD5] [varchar](32) NOT NULL,
	[Name] [varchar](256) NOT NULL,
	[Extension] [varchar](4) NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[Length] [time](0) NOT NULL,
	[Size] [bigint] NOT NULL,
 CONSTRAINT [PK_Videos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoTag]    Script Date: 12/11/2020 20:26:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoTag](
	[VideoID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
 CONSTRAINT [PK_VideoTag] PRIMARY KEY CLUSTERED 
(
	[VideoID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Video_Unique_MD5]    Script Date: 12/11/2020 20:26:19 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Video_Unique_MD5] ON [dbo].[Video]
(
	[MD5] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VideoTag]  WITH CHECK ADD  CONSTRAINT [FK_VideoTag_TagID] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tag] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VideoTag] CHECK CONSTRAINT [FK_VideoTag_TagID]
GO
ALTER TABLE [dbo].[VideoTag]  WITH CHECK ADD  CONSTRAINT [FK_VideoTag_VideoID] FOREIGN KEY([VideoID])
REFERENCES [dbo].[Video] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VideoTag] CHECK CONSTRAINT [FK_VideoTag_VideoID]
GO
USE [master]
GO


IF NOT EXISTS (SELECT * FROM sysm.columns WHERE object_id = OBJECT_ID(N'[dbo].[Video]') AND name = 'Description')
BEGIN
ALTER TABLE [dbo].[VideoTag] ADD 'Description' VARCHAR(500)
END
GO

IF NOT EXISTS (SELECT * FROM sysm.columns WHERE object_id = OBJECT_ID(N'[dbo].[Video]') AND name = 'MetaText')
BEGIN
ALTER TABLE [dbo].[VideoTag] ADD 'MetaText' VARCHAR(500)
END
GO

IF NOT EXISTS (SELECT * FROM sysm.columns WHERE object_id = OBJECT_ID(N'[dbo].[Video]') AND name = 'IsDeleted')
BEGIN
ALTER TABLE [dbo].[VideoTag] ADD 'IsDeleted' bit DEEFAULT 0
END
GO