@model OpenVid.Models.Upload.UploadResultViewModel

<div class="col-6">
    <div class="row alert alert-secondary">
        <div class="col-1">@Model.Icon</div>
        <div class="col-10">@Model.Name</div>
        <div class="col-1">
            <a href="@Url.Action("Index", "Play", new { Id = Model.Id })">[View]</a>
        </div>
    </div>
</div>