@model string

<div class="col-6">
    <div class="row alert alert-secondary">
        <div class="col-1"></div>
        <div class="col-10">@Model</div>
        <div class="col-1"></div>
    </div>
</div>