@model OpenVid.Models.Upload.UploadViewModel


<div class="container">
    <div class="row">
        <div class="col-2 border-right">
            SIDEBAR
        </div>
        <div class="col-10">
            <div id="uploadForm">
                <input type="file" name="file" multiple />
                <script>
                    $(document).on('change', '#uploadForm>input', function (e) {
                        var fileUpload = $("#uploadForm>input").get(0);
                        var files = fileUpload.files;
                        var multipleFiles = files.length > 1;
                        pushVideo(files, multipleFiles, 0)
                    });

                    function pushVideo(files, multipleFiles, i) {
                        var formData = new FormData();
                        formData.append('file', files[i]);
                        formData.append('multipleFiles', multipleFiles);

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Upload", "Upload")',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                $('#updateForm').append(data);
                                if (i < files.length-1) {
                                    pushVideo(files, multipleFiles, i+1);
                                }
                            },
                            error: function (error) {
                                $('#updateForm').append("<p>AJAX Error!</p>");
                            }
                        });
                    }
                </script>
            </div>

            <hr />

            <div id="updateForm"></div>
        </div>
    </div>
</div>