@model OpenVid.Models.Play.PlayViewModel

<div class="video-container">
    <video height="720" controls>
        @foreach (var source in Model.VideoSources)
        {
            <source src="@source" type="video/mp4">
        }
        Your browser does not support the video tag.
    </video>
</div>

<div class="container">
    @{await Html.RenderPartialAsync("_UpdateForm", Model.Update);}
</div>

<link rel="stylesheet" href="~/plugins/redgreen/plugin.css">
<script src="~/plugins/redgreen/plugin.js"></script>
<script>
    Plugin.Init();
</script>