.container {
    max-width: initial;
}

.video-container {
    background-color: #000;
    display: flex;
    margin: -30px;
    margin-bottom: 0px;
}

    .video-container > .youtube-theme,
    .video-container > video {
        margin: 0 auto;
    }

.tile {
    margin: 10px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.tag-suggestion {
    font-size: 0.95em;
    color: #007bff;
    cursor: pointer;
}

    .tag-suggestion.selected {
        color: white;
        background-color: #007bff;
    }

div.error-container {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.message-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.error-container p,
div.error-container h1 {
    margin: 0;
}