@model OpenVid.Models.Home.HomeViewModel

    <div class="row">
        <div class="col-md-2 border-right">
            @{await Html.RenderPartialAsync("_TagList", Model.Tags);}
        </div>
        <div class="col-md-10">
            <a id="loadMore"></a>
            <script>
                $(document).ready(function () {
                    loadMore(1, '');
                });
            </script>
        </div>
    </div>